body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("./pattern3.png");
}

.wrapper{
    text-align: center;
  
}

.title{
    background-color: black;
    border-radius: 10px;
    color: #ec4a81;
    position: absolute;
    top: 100px;
    left: 850px;
    padding: 5px 10px;
    font-family: 'Orbitron', sans-serif;
}

.container {
    border-radius: 50%;
    padding: 50px;
    width: 150px;
    height: 150px;
    margin: 200px auto;
    background-color: lightgray;
    position: relative;
    background: url("./pattern1.png");
    background-position: left;
}


.clock{
  position: absolute;
  top: 100px;
 left: 45px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}